*{
    box-sizing: border-box;
}

body{
    background-color: rgb(168, 231, 231);
}

h1 {
    color: white;
    background-color: #e75480;
    text-align: center;
    font-weight: bold;
    font-family: "Brush Script MT", sans-serif;
    font-size: 60px;

    width: 600px;
    margin-right:auto;
    margin-left:auto;
    padding: 30px;
    border: 15px double white;
    margin-bottom: 50px;
}

.page-links {
    font-size: 20px;
    font-family: "Times New Roman", sans-serif;
    font-weight: bold;
    color: white;
    background-color: #f097b2;
   
    width: 500px;
    margin: 0 auto;
    padding: 15px;
    border: 15px double white;
}

.links-message{
    font-family: "Times New Roman", sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    background-color: #e75480;
    padding: 10px;
    margin:10px;
}

h2 {
    color: white;
    background-color: #f097b2;
    font-family: "Times New Roman", sans-serif;
    font-size: 30px; 
}

p {
    color: #a41742;
    font-family: "Times New Roman", sans-serif;
    font-size: 20px; 
}

.ingredients, .steps, h4 {
    color: #a41742;
    font-family: "Times New Roman", sans-serif;
    font-size: 17px; 
}

img{
    display: block;
    padding: 20px;
    margin: 0 auto;
}